<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BonPrint.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <userSettings>
        <BonPrint.Properties.Settings>
            <setting name="PrinterName" serializeAs="String">
                <value />
            </setting>
            <setting name="LocationText" serializeAs="String">
                <value />
            </setting>
            <setting name="ConnectionString" serializeAs="String">
                <value />
            </setting>
            <setting name="CurrentTurn" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="TableDataXML" serializeAs="String">
                <value />
            </setting>
            <setting name="LastRestartDate" serializeAs="String">
                <value />
            </setting>
        </BonPrint.Properties.Settings>
    </userSettings>
</configuration>